.quote-container {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: white;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 30px;
}

button {
  background-color: #009ddc;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #2980b9;
  animation: pulse 1s infinite;
  transform: scale(1.1);
}

.navigation {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 15px;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  margin: 15px;
}

.navigation a:last-child {
  margin-right: 0;
}

.navigation a:hover {
  color: #2980b9;
  animation: pulse 1s infinite;
}

.home-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-right: 20px;
}

.home-icon:hover {
  transform: scale(1.3);
}

.home-icon img {
  width: 28px;
  height: 28px;
  filter: invert(1);
  transition: transform 0.3s ease;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group > * {
  margin-right: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #009ddc;
  color: white;
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

p {
  margin-top: 20px;
  font-size: 14px;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
